form label {
    display: block;
    font-weight: bold;
    margin: 15px 0 3px 0;
}
form button {
    display: block;
    margin: 15px 0 3px 0;
}
form input:disabled {
    cursor: not-allowed;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
/* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}